<!DOCTYPE html>
<html>

<head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    
    <form action="addjoke" method="post">
        <input type="text" name="joke" id="joke" />
        <button type="submit">Submit</button>
    </form>
    <a href="/addjoke">Add new joke again</a>
  
</body>

</html>