<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p><%= username %>, Welcome to <%= title %></p>
    <p> Welcome to </p>
    <a href="/joke">Random Joke</a><br>
    <a href="/jokes">All Jokes</a><br>
    <a href="/addjoke">Add Jokes</a><br>
  </body>
</html>